/* @font-face */
@font-face {
    font-family: "test";
    src: url("assets/MusticaPro-SemiBold.otf");
}

@font-face {
    font-family: "robo-med";
    src: url("assets/Roboto-Medium.ttf");
}

@font-face {
    font-family: "robo-reg";
    src: url("assets/Roboto-Regular.ttf");
}

/* @keyframes */

/* */
* {
    overflow-x: hidden;
    margin: 0;
}

/* navbar (shared) */

div.navbar {
    background-color: #242424; 
    left: 0%;
    width: 100%;
    top: 0%;
    height: 7.5vh;
    padding: 15px 0px 15px 0px;
    display:inline-flex;
    overflow-y: hidden;
    font-family: "test";
    color: white;
}

img.logo {
    height: 100%;
    width:100%; /* clipping fix */
    object-fit: contain;
    /* background-color: red; */
    margin-right: 15px
}

div.navbar a {
    overflow: hidden;
    width: 7.5%;
}

div.navbar h1 {
    font-size: 1.5vw;
    margin: 0;
    position: relative;
    padding: 0 0 0 0;
    top: 25%;
    transform: translateY(-50%);
    align-self: center;
}

div.links {
    position: relative;
    width: fit-content;
    left: 30vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

div.links ul {
    list-style-type: none;
    display: inline-flex;
}

div.links ul li {
    float: right;
}

div.links ul li a.navlink {
    margin:25px;  
    color: #FFFFFF;
    font-size: 1.25vw;
    text-decoration: none;
    font-family: "robo-med";
    transition: color 0.5s ease-in-out;
}

div.links ul li a.navlink:hover {
    color:#38aeb5;
}

/* footer (shared) */
div.footer {
    width: 100%;
    background-color: #0a0a0a;
    text-align: center;
    height: 40px;
}

div.footer p.copyright {
    font-family: "robo-med";
    font-size: 20px;
    color: white;
    transform: translateY(50%);
}

/* top scroll box (shared) */
.scrollTop {
    position:fixed;
    bottom: 2vh;
    right: 2vh;
    width: 4vw;
    height: fit-content;
    object-fit: contain;
}

.scrollTop img {
    width: 100%;
}


/* index.html */
body {
    background-color: rgb(26, 26, 26);
}

div.title {
    display: flex;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: 15vh;
}

div.title img {
    position: relative;
    width: 25%;
    object-fit: contain;
    margin: 0 5vw 0 5vw;
}

div.title h1 {
    font-family: "robo-med";
    font-size: 3.75vw;
    position: relative;
    top: 50%;
    width: 37.5%;
    transform: translateY(42.5%);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

img.recent_news {
    width: 20%;
    margin-top: 25vh;
    margin-bottom: 5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

div.post {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width:70%;
    height:240px;
    margin-bottom: 3%;
}

#post0 {
    background-color: #338a8f;
}

#post1 {
    background-color: #741f77;
}

#post2 {
    background-color: #5e1919;
}

div.post img {
    height: 100%;
    object-fit: contain;
}

div.post .embedtext {
    font-family: "robo-reg";
    font-size: 16px;
    color:#FFFFFF;
    margin: 16px;
    width: max-content;
    overflow: hidden;
}

div.post h1 {
    font-size: 24px;
}

/* about */
.about .about_container {
    width: 80%;
    font-family: "robo-med";
    color: white;
    position: relative;
    left: 10%;
    display:block;
}

.about_container .header {
    font-size: 3.5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.about_container .row {
    font-size: 1.5vw;
    margin: 3vh 0 3vh 0;
    height: min-content;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
}

.about_container .row img {
    height: 100%;
    object-fit: contain;
}

.about_container p {
    width: max-content;
    height: 100%;
    margin: 0 1.5vw 0 1.5vw;
    padding: 1.5vh 0 1.5vh 0;
}
.about_container #row0 {
    height: 50vh;
}
.about_container #row1 {
    height: 60vh;
    justify-content: right;
}