<!DOCTYPE html>

<html lang="en-US">

<head>
    {{metadata|safe}}
    <title>About - CSHS</title>
    <script src="/static/scripts/about.js" defer></script>
</head>

<body class="about">

    {{nav|safe}}

    <div class="about_container">
        <div class="header">
            <h1>About Us</h1>
        </div>
        <div class="row" id="row0">
            <img src="/static/assets/placeholder_body.jpg">
            <p>This is some text<br><br>We are so cool</p>
        </div>
        <div class="row" id="row1">
            <p>Ooh! Some more text<br><br><br><br><br>Dynamic div height test :P</p>
            <img src="/static/assets/placeholder_logo.png">
        </div>
    </div>

    {{footer|safe}}
    {{scrollTop|safe}}
</body>

</html>