<!DOCTYPE html>

<html lang="en-US">

<head>
    {{metadata|safe}}
    <title>Chapters - CSHS</title>
    <script src="chapters.js"></script>
</head>

<body>
    {{nav|safe}}

    <div class="chapter_container">
        <div class="header">
            <h1>Our Chapters</h1>
            <p> &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Our chapters are a very important...blah...blah...blah<br>
                &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;Below is a list of all of CSHS's chapters.<br>
                &ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;To start a new chapter, please email example@gmail.com</p>
        </div>
        <div class="pair">

            <div class="chapter_block" id="block0">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: Northville</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

            <div class="chapter_block" id="block1">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: Timbuktu</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

        </div>
       
        <div class="pair">

            <div class="chapter_block" id="block2">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: North Pole</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

            <div class="chapter_block" id="block3">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: Ohio</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

        </div>
        
        <div class="pair">

            <div class="chapter_block" id="block4">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: Chicago</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

            <div class="chapter_block" id="block5">
                <div class="img_dummy"><img src="\static\assets\placeholder_logo.png"></div>
                <div class="chapter_body">
                    <h2>CSHS: Florida</h2>
                    <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
                </div>   
            </div>

        </div>
    </div>
    <!--stuff-->

    {{footer|safe}}

    {{scrollTop|safe}}
</body>

</html>